@using Orchard.ContentManagement
@using Orchard.Core.Contents.Settings
@using Lombiq.ContentEditors.Constants
@using Lombiq.ContentEditors.Models
@using Lombiq.ContentEditors.Services

@* TODO: Commented out until the Piedone.HelpfulLibraries and Piedone.HelpfulExtensions repositories are not
    checked out to the most up-to-date changeset which are currently incompatible with this source code. *@
@*@{
    var contentItem = Model.ContentItem as ContentItem;
    var asyncEditorPart = contentItem?.As<AsyncEditorPart>();

    if (!(asyncEditorPart?.IsAsyncEditorContext ?? false) || !asyncEditorPart.HasEditorGroups)
    {
        return;
    }

    var asyncEditorService = WorkContext.Resolve<IAsyncEditorService>();
}*@

@{
    var contentItem = Model.ContentItem as ContentItem;
    if (contentItem == null)
    {
        return;
    }

    var asyncEditorPart = contentItem.As<AsyncEditorPart>();
    if (asyncEditorPart == null || !asyncEditorPart.IsAsyncEditorContext || !asyncEditorPart.HasEditorGroups)
    {
        return;
    }
}

@if (asyncEditorPart.PreviousAuthorizedEditorGroup != null)
{
    <div class="btn button asyncEditorPreviousAction js-@ElementNames.AsyncEditorActions.LoadEditorElementName"
         data-editorGroupName="@asyncEditorPart.PreviousAuthorizedEditorGroup.Name">
        @T("Back")
    </div>
}