@using Orchard.ContentManagement
@using Lombiq.ContentEditors.Constants
@using Lombiq.ContentEditors.Models

@{
    var contentItem = Model.ContentItem as ContentItem;
    var asyncEditorPart = contentItem?.As<AsyncEditorPart>();

    if (!(asyncEditorPart?.IsAsyncEditorContext ?? false) || !asyncEditorPart.HasEditorGroups)
    {
        return;
    }

    var actionText = Model.ActionText as string ?? T("Back").Text;
}

@if (asyncEditorPart.PreviousAuthorizedEditorGroup != null)
{
    <div class="btn button asyncEditorPreviousAction js-@ElementNames.AsyncEditorActions.LoadEditorElementName"
         data-editorGroupName="@asyncEditorPart.PreviousAuthorizedEditorGroup.Name">
        @actionText
    </div>
}