@using Orchard.ContentManagement
@using Lombiq.EditorGroups.Models

@{ 
    var contentItem = Model.ContentItem as ContentItem;
    var editorGroupsPart = contentItem?.As<EditorGroupsPart>();

    if (!(editorGroupsPart?.AsyncEditorContext ?? false))
    {
        return;
    }
}

<h2 class="asyncEditorTitle">
    @T("{0} details", editorGroupsPart.CurrentEditorGroup.Title)
</h2>