@using Orchard.ContentManagement
@using Lombiq.ContentEditors.Models

@{
    var contentItem = Model.ContentItem as ContentItem;

    if (!(contentItem.AsAsyncEditorPart()?.IsAsyncEditorContext ?? false))
    {
        return;
    }
}

<div class="asyncEditorActions">
    @Display.AsyncEditor_Actions_Previous(ContentItem: contentItem)

    @Display.AsyncEditor_Actions_GroupList(ContentItem: contentItem)

    @Display.AsyncEditor_Actions_Submit(ContentItem: contentItem)
</div>