@using Orchard.ContentManagement
@using Lombiq.ContentEditors.Constants
@using Lombiq.ContentEditors.Models

@{
    var asyncEditorPart = (Model.ContentItem as ContentItem).AsAsyncEditorPart();

    if (!(asyncEditorPart?.IsAsyncEditorContext ?? false) || !asyncEditorPart.HasEditorGroups)
    {
        return;
    }
}

<div class="@ElementNames.AsyncEditorGroupListActions.BlockName">
    <ol class="@ElementNames.AsyncEditorGroupListActions.GroupListElementName">
        @foreach (var editorGroup in asyncEditorPart.AuthorizedEditorGroups)
        {
            <li class="@ElementNames.AsyncEditorGroupListActions.GroupListItemElementName">
                @Display.AsyncEditor_Actions_GroupListItem(AsyncEditorPart: asyncEditorPart, EditorGroup: editorGroup)
            </li>
        }
    </ol>
</div>