<script type="text/x-template" id="async-editor-template">
    <div class="asyncEditor">
        <div class="asyncEditor__header"></div>
        <div class="asyncEditor__messages">
            <div class="asyncEditor__loading" v-if="isLoading">@T["The editor is loading."]</div>
        </div>
        <div class="asyncEditor__main">
            <div class="asyncEditor__content" v-html="editorHtml"></div>
        </div>
        <div class="asyncEditor__footer">
            <div class="asyncEditor__groupLinks">
                <div class="asyncEditor__groupLink" @@click="loadEditorGroup('Group1')">Group 1</div>
                <div class="asyncEditor__groupLink" @@click="loadEditorGroup('Group2')">Group 2</div>
            </div>
        </div>
    </div>
</script>
