@using Orchard.ContentManagement
@using Lombiq.EditorGroups.Constants
@using Lombiq.EditorGroups.Models

@{
    var contentItem = Model.ContentItem as ContentItem;
    var editorGroupsPart = contentItem?.As<EditorGroupsPart>();

    if (!(editorGroupsPart?.AsyncEditorContext ?? false))
    {
        return;
    }

    const string BlockName = "asyncEditorActions";
    const string PagerElementName = BlockName + "__pager";
    const string NavigationButtonsElementName = BlockName + "__navigationButtons";
}

<div class="@BlockName">
    <div class="@PagerElementName">
        @Display.AsyncEditor_Pager(ContentItem: contentItem)
    </div>
    <div class="@NavigationButtonsElementName">
        Buttons go here...
    </div>
</div>