@using Orchard.ContentManagement
@using Lombiq.ContentEditors.Models

@{
    var contentItem = Model.ContentItem as ContentItem;
    var asyncEditorPart = contentItem?.As<AsyncEditorPart>();

    if (!(asyncEditorPart?.IsAsyncEditorContext ?? false))
    {
        return;
    }
}

<div class="asyncEditorActions">
    @Display.AsyncEditor_Actions_Previous(ContentItem: Model.ContentItem)

    @Display.AsyncEditor_Actions_GroupList(ContentItem: Model.ContentItem)

    @Display.AsyncEditor_Actions_Submit(ContentItem: Model.ContentItem)
</div>