@using Orchard.ContentManagement
@using Lombiq.EditorGroups.Models

@{ 
    var contentItem = Model.ContentItem as ContentItem;
    var asyncEditorPart = contentItem?.As<AsyncEditorPart>();

    if (!(asyncEditorPart?.AsyncEditorContext ?? false))
    {
        return;
    }
}

<h2 class="asyncEditorTitle">
    @T("{0} details", asyncEditorPart.CurrentEditorGroup.Title)
</h2>