@using Orchard.ContentManagement
@using Lombiq.ContentEditors.Models

@{
    var asyncEditorPart = (Model.ContentItem as ContentItem).AsAsyncEditorPart();

    if (!(asyncEditorPart?.IsAsyncEditorContext ?? false))
    {
        return;
    }
}

<div class="asyncEditorTitle">
    @T("{0} Details", asyncEditorPart.CurrentEditorGroup != null ?
        asyncEditorPart.CurrentEditorGroup.Title : asyncEditorPart.TypeDefinition.DisplayName)
</div>