@using Lombiq.ContentEditors.Constants
@using Piedone.HelpfulLibraries.Utilities

@model dynamic

@{
    var text = Model.Text as string;

    if (string.IsNullOrWhiteSpace(text))
    {
        return;
    }

    Script.Require(ResourceNames.jQueryUI);
    Style.Require(ResourceNames.jQueryUI);

    const string BlockName = "lombiqTooltip";
    var additionalClasses = Model.AdditionalClasses as string ?? "";
}

<span class="@BlockName @additionalClasses" title="@text"></span>

@if (this.WasNotDisplayed("Lombiq.Tooltip"))
{
    <script>
        jQuery(function ($) {
            $.widget.bridge("jQueryTooltip", $.ui.tooltip);

            $(document).jQueryTooltip({
                selector: ".@BlockName",
                content: function () {
                    return $(this).attr("title");
                }
            });
        });
    </script>
}