@using Lombiq.ContentEditors.Constants
@using Piedone.HelpfulLibraries.Utilities

@model dynamic

@{
    var text = Model.Text as string;
    var allowHtml = (Model.AllowHtml ?? false) ? "allowHtml" : "denyHtml";

    if (string.IsNullOrWhiteSpace(text))
    {
        return;
    }

    Style.Require(ResourceNames.jQueryUI);

    const string BlockName = "lombiqTooltip";
    var additionalClasses = Model.AdditionalClasses as string ?? "";
}

<span class="@BlockName @allowHtml @additionalClasses" title="@text"></span>

@if (this.WasNotDisplayed("Lombiq.Tooltip"))
{
<script type="text/javascript">
        ; (function ($) {
            $(function () {
                $('.@(BlockName + ".allowHtml")').tooltip({
                    content: function () {
                        return $(this).prop("title");
                    },
                    classes: {
                        "ui-tooltip": "highlight"
                    },
                    html: true
                });

                $('.@(BlockName + ".denyHtml")').tooltip({
                    content: function () {
                        return $(this).prop("title");
                    },
                    classes: {
                        "ui-tooltip": "highlight"
                    },
                    html: false
                });
            });
        })(jQuery);
</script>
}
