@using Lombiq.ContentEditors.Constants
@using Piedone.HelpfulLibraries.Utilities

@model dynamic

@{
    var text = Model.Text as string;

    if (string.IsNullOrWhiteSpace(text))
    {
        return;
    }

    Style.Require(ResourceNames.jQueryUI);

    const string DefaultBlockName = "lombiqTooltip";
    var BlockName = Model.BlockName ?? "defaultTooltip";

    var additionalClasses = Model.AdditionalClasses as string ?? "";
}

<span class="@DefaultBlockName @BlockName @additionalClasses" title="@text"></span>

<script type="text/javascript">
    ; (function ($) {
        $(function () {
            $(".@BlockName").tooltip({
                content: function () {
                    return $(this).prop("title");
                },
                classes: {
                    "ui-tooltip": "highlight"
                },
                html: @Json.Encode(Model.AllowHtml ?? false)
            });
        });
    })(jQuery);
</script>
