@using Lombiq.ContentEditors.ViewModels
@using Lombiq.ContentEditors.Constants

@{
    Script.Require(ResourceNames.Selectize).AtHead();
    Style.Require(ResourceNames.Selectize).AtHead();

    var viewModel = Model.ViewModel as DropdownEditorViewModel;

    if (!viewModel?.SelectList?.Any() ?? true) { return; }

    const string DefaultBlockName = "selectizeDropdownEditor";
    string BlockName = viewModel.BlockName ?? DefaultBlockName;
    const string TextBoxElementName = DefaultBlockName + "__textbox";
    string TechnicalNameModifier = "_" + viewModel.TechnicalName;

    var taxonomyDropdownSelectizeInputId = DefaultBlockName + "__SelectizeInput" + TechnicalNameModifier;

    var attributes = new Dictionary<string, object>
    {
        { "class", TextBoxElementName },
        { "id", @taxonomyDropdownSelectizeInputId }
    };
    if (!string.IsNullOrEmpty(viewModel.Label))
    {
        attributes.Add("placeholder", viewModel.Label);
    }
}

<div class="editor editorField form-group @DefaultBlockName @BlockName">
    @Html.TextBox(viewModel.TechnicalName, "", attributes)
</div>

<script type="text/javascript">
    ; (function ($) {
        $(function () {
            @* Initializing selectize on input field. *@
            var $taxonomyDropdownSelectizeInput = $("#@taxonomyDropdownSelectizeInputId");
            var $taxonomyDropdownSelectize = $taxonomyDropdownSelectizeInput.selectize()[0].selectize;

            @* Adding options. *@
            @foreach (var listItem in viewModel.SelectList)
            {
                <text>
                    $taxonomyDropdownSelectize.addOption({ value: "@listItem.Value", text: "@listItem.Text" });
                </text>
            }
        });
    })(jQuery);
</script>