@using Lombiq.ContentEditors.Constants
@using Piedone.HelpfulLibraries.Utilities

@model dynamic

@{
    var text = Model.Text as string;

    if (string.IsNullOrWhiteSpace(text))
    {
        return;
    }

    Script.Require(ResourceNames.jQueryUI);
    Style.Require(ResourceNames.jQueryUI);

    const string DefaultBlockName = "lombiqTooltip";
    var BlockName = Model.BlockName ?? "defaultTooltip";

    var additionalClasses = Model.AdditionalClasses as string ?? "";
}

<span class="@DefaultBlockName @BlockName @additionalClasses" title="@text"></span>

<script>
    jQuery(function ($) {
        $.widget.bridge("jQueryTooltip", $.ui.tooltip);

        $(document).jQueryTooltip({
            selector: ".@BlockName",
            content: function () {
                return $(this).attr("title");
            },
            html: @Json.Encode(Model.AllowHtml ?? false)
        });
    });
</script>

