@using Lombiq.ContentEditors.ViewModels
@using Lombiq.ContentEditors.Constants
@using Orchard.ContentManagement
@using Orchard.Localization

@{
    var viewModel = Model.ViewModel as TextAreaEditorViewModel;

    const string DefaultBlockName = "tinyMceEditor";
    string BlockName = viewModel.BlockName ?? DefaultBlockName;

    var textAreaAttributes = viewModel.BuildAttributes(new Dictionary<string, object>
    {
        {"class", "html tinymce"},
        {"style", "width:100%"},
        {"Id", viewModel.Name}
    });

    var labelAttributes = new Dictionary<string, object>
    {
        { "class", "editorLabel " + DefaultBlockName + "__label" }
    };

    if (viewModel.Required)
    {
        textAreaAttributes["required"] = true;
        textAreaAttributes["class"] = textAreaAttributes["class"] + " required";
        labelAttributes["class"] = labelAttributes["class"] + " required";
    }

    if (!string.IsNullOrEmpty(viewModel.Placeholder))
    {
        textAreaAttributes["placeholder"] = viewModel.Placeholder;
    }

    Script.Require(ResourceNames.Lombiq_TinyMce);
    Script.Require("jQueryColorBox");
    Style.Require("jQueryColorBox");
    Style.Require("OrchardTinyMce");
}

<script type="text/javascript">
    var selector = "@viewModel.Name";
</script>

<div class="editor editorField form-group @DefaultBlockName @BlockName">
    @if (!string.IsNullOrEmpty(viewModel.Label))
    {
        @Html.Label(viewModel.Name, viewModel.Label, labelAttributes)
    }

    @Html.TextArea(viewModel.Name, (string)Model.Text, 25, 80, textAreaAttributes)
</div>