@using Lombiq.ContentEditors.Constants
@using Piedone.HelpfulLibraries.Utilities

@model dynamic

@{
    var text = Model.Text as string;

    if (string.IsNullOrWhiteSpace(text))
    {
        return;
    }

    Style.Require(ResourceNames.jQueryUI);

    const string BlockName = "lombiqTooltip";
    var additionalClasses = Model.AdditionalClasses as string ?? "";
}

<span class="@BlockName @additionalClasses" title="@text"></span>

@if (this.WasNotDisplayed("Lombiq.Tooltip"))
{
<script type="text/javascript">
        ; (function ($) {
            $(function () {
                $(".@BlockName").tooltip({
                    content: function () {
                        return $(this).prop("title");
                    },
                    classes: {
                        "ui-tooltip": "highlight"
                    },
                    html: "@Html.Raw(Json.Encode(Model.AllowHtml ?? false))"
                });
            });
        })(jQuery);
</script>
}