@* This is the editor shape used on the Details editor group. *@

@model EditSupportTicketReporterViewModel

<div>
    <label class="form-label" asp-for="Name">@T["Name"]</label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>
</div>
<div>
    <label class="form-label" asp-for="Email">@T["Email"]</label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>
</div>

@* Again, a demo script but this time it's an inline script. It will be evaluated when the editor group is loaded. *@
<script at="Foot">
    console.log("I'm running in an async editor!");
</script>

@* NEXT STATION: Navigation/ContentEditorsSamplesNavigationProvider.cs *@
