@* This is the editor shape used on the Details editor group. *@

@using Lombiq.ContentEditors.Samples.Constants
@model EditSupportTicketDetailsViewModel

@* For demonstration purposes we include a script that will be loaded on the async editor page. It's a simple script,
when you click on the "Click me" button, something will happen. *@
<script asp-name="@ResourceNames.SampleAsyncEditorGroupScript" at="Foot"></script>

<div>
    <label asp-for="Url">@T["URL"]</label>
    <input asp-for="Url" />
    <span asp-validation-for="Url"></span>
</div>
<div>
    <label asp-for="Description">@T["Description"]</label>
    <textarea asp-for="Description"></textarea>
    <span asp-validation-for="Description"></span>
</div>

<div class="click-me">@T["Click me"]</div>

@* NEXT STATION: ViewModels/EditSupportTicketReporterViewModel.cs *@
