@model EditSupportTicketDetailsViewModel

<div>
    <label asp-for="Url">@T["URL"]</label>
    <input asp-for="Url" />
    <span asp-validation-for="Url"></span>
</div>
<div>
    <label asp-for="Description">@T["Description"]</label>
    <textarea asp-for="Description"></textarea>
    <span asp-validation-for="Description"></span>
</div>