@using Lombiq.ContentEditors.Constants
@using Lombiq.ContentEditors.Services

<script asp-name="@ResourceNames.AsyncEditor" at="Foot"></script>

<shape type="AsyncEditor_Editor"></shape>

<div id="demoAsyncEditorApp"></div>

<script at="Foot" depends-on="@ResourceNames.AsyncEditor">
    document.addEventListener("DOMContentLoaded", function(){
        initAsyncEditor('demoAsyncEditorApp', {
            element: '#demoAsyncEditorApp',
            apiUrl: '@Href("~/" + Routes.ContentItemAsyncEditorApi)',
            providerName: '@nameof(DemoAsyncEditorProvider)',
            contentType: 'AsyncEditorDemo',
            editorGroup: 'Group1',
        });
    });
</script>
