@using Lombiq.ContentEditors.Constants

<script asp-name="@ResourceNames.AsyncEditor" at="Foot"></script>

<shape type="AsyncEditor_Editor"></shape>

<div id="demoAsyncEditorApp"></div>

<script at="Foot" depends-on="@ResourceNames.AsyncEditor">
    document.addEventListener("DOMContentLoaded", function(){
        initAsyncEditor('demoAsyncEditorApp', {
            element: '#demoAsyncEditorApp',
            apiUrl: '@Href("~/" + Routes.AsyncEditorApi)',
            providerId: '',
            contentId: '4psmvmkabnq2x0jv0tjefbgac5',
            editorGroup: 'Group1',
        });
    });
</script>
