@model Lombiq.ContentEditors.ViewModels.ContentItemAsyncEditorViewModel

@* Because reasons. *@
<div style="margin-top: 200px;"></div>

<shape type="ContentItemAsyncEditor"
       prop-providerName="@Model.ProviderName"
       prop-contentType="@Model.ContentType"
       prop-contentItemId="@Model.ContentItemId">
</shape>
