@model Lombiq.ContentEditors.ViewModels.ContentItemAsyncEditorViewModel

<h1>@RenderTitleSegments(T["Front-end async editor demo"])</h1>

@* You can use the ContentItemAsyncEditor shape to render the editor. *@
<shape type="ContentItemAsyncEditor"
       prop-providerName="@Model.ProviderName"
       prop-contentType="@Model.ContentType"
       prop-contentItemId="@Model.ContentItemId">
</shape>

@* NEXT STATION: Services/SupportTicketAsyncEditorProvider.cs *@
