.loadingIndicator {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8) url("../Content/Images/spinner.gif") 50% 50% no-repeat;
  overflow: hidden; }

